<% @title ||= t(".title"); title @title %>
<% @title ||= t(".title"); title @title %>
<div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8 divide-y divide-gray-200">
  <div class="bg-white overflow-hidden">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
      <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
        <div class="text-base max-w-prose">
          <div>
            <h2 class="text-base text-red-600 font-semibold tracking-wide uppercase"><%= "#{t("layout.header.title")} #{@current_cup.year}" %></h2>
            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"><%= @title %></h3>
          </div>
        </div>
      </div>
    </div>
    <ul role="list" class="divide-y divide-gray-200">
      <% if @ronins.any? %>
        <li>
          <div class="py-4 px-3 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between">
              <div>
                <p class="text-lg font-medium text-gray-600 prose">
                  <%= t(".ronins.info") %>
                </p>
              </div>
            </div>
            <div class="mt-2 sm:flex sm:justify-between">
              <div class="sm:flex">
                <p class="flex items-center text-gray-500">
                  <%= safe_join(@ronins.map { |kenshi| link_to kenshi.full_name, cup_kenshi_path(@cup, kenshi) }, raw("<span class='px-2'>•</span>")) %>
                </p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      <%= render partial: "team_row", collection: @teams, as: "team" %>
    </ul>
  </div>
</div>
