= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean}  do |f|
  = devise_error_messages!
  = f.input :first_name, autofocus: true
  = f.input :last_name, autofocus: true
  = f.input :email, autofocus: true
  = f.input :dob, as: :date_picker
  = f.input :club_name, label: 'Club', as: :select2, input_html: {data: {options: Club.all.map{|c| {id: c.name, text: c.name}}}}
  = f.input :current_password, autocomplete: "off", class: "form-control"
  = f.input :password, label: "New password", autocomplete: "off", class: "form-control"
  = f.input :password_confirmation, autocomplete: "off", class: "form-control"
  - if resource.persisted?
    = f.submit "Update", class: "btn btn-success"
  - else
    = f.submit t("devise.registrations.title"), class: "btn btn-success"
  - unless resource.persisted?
    = render "devise/shared/links", signin: true, signup: false

/ = form_for resource, as: resource_name, url: registration_path(resource_name), role: "form", html: {class: "form-horizontal"} do |f|
/   = devise_error_messages!
/   .form-group
/     = f.label :first_name, class: "col-sm-2"
/     .col-sm-4
/       = f.text_field :first_name, autofocus: true, class: "form-control"
/   .form-group
/     = f.label :last_name, class: "col-sm-2"
/     .col-sm-4
/       = f.text_field :last_name, autofocus: true, class: "form-control"
/   .form-group
/     = f.label :email, class: "col-sm-2"
/     .col-sm-4
/       = f.email_field :email, autofocus: true, class: "form-control"
/   .form-group
/     = f.label :dob, t('activerecord.attributes.user.dob'), class: "col-sm-2"
/     .col-sm-4.input-group.date.datepicker{data: {date: {format: "DD-MM-YYYY"}}}
/       = f.text_field :dob, {type: 'my_date', placeholder: t('layout.form.date_placeholder'), class: "form-control"}
/       %span.input-group-addon
/         %span.glyphicon.glyphicon-calendar
/   .form-group
/     = label_tag :club_name, User.human_attribute_name(:club_name), class: "col-sm-2"
/     .col-sm-4
/       = hidden_field_tag "#{f.object_name}[club_name]", f.object.club.try(:name), class: "select2 form-control", data: {options: Club.all.map{|c| {id: c.name, text: c.name}}}
/   .form-group
/     = f.label :password, class: "col-sm-2"
/     .col-sm-4
/       = f.password_field :password, autocomplete: "off", class: "form-control"
/   .form-group
/     = f.label :password_confirmation, class: "col-sm-2"
/     .col-sm-4
/       = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
/   .col-sm-2.col-sm-offset-2
/     - if resource.persisted?
/       = f.submit "Update", class: "btn btn-success"
/     - else
/       = f.submit t("devise.registrations.title"), class: "btn btn-success"
/   - unless resource.persisted?
/     .col-sm-4.col-sm-offset-2
/       = render "devise/shared/links", signin: true, signup: false
