= form_for resource, as: resource_name, url: registration_path(resource_name), role: "form", html: {class: "form-horizontal"} do |f|
  = devise_error_messages!
  .form-group
    = f.label :first_name, class: "col-sm-2"
    .col-sm-4
      = f.text_field :first_name, autofocus: true, class: "form-control"
  .form-group
    = f.label :last_name, class: "col-sm-2"
    .col-sm-4
      = f.text_field :last_name, autofocus: true, class: "form-control"
  .form-group
    = f.label :email, class: "col-sm-2"
    .col-sm-4
      = f.email_field :email, autofocus: true, class: "form-control"
  .form-group
    = f.label :dob, t('activerecord.attributes.user.dob'), class: "col-sm-2"
    .col-sm-10
      = f.text_field :dob, {type: 'my_date', placeholder: t('layout.form.date_placeholder')}
  .form-group
    = label_tag :club_name, User.human_attribute_name(:club_name), class: "col-sm-2"
    .col-sm-4
      = hidden_field_tag "#{f.object_name}[club_name]", f.object.club.try(:name), class: "select2 form-control", data: {options: Club.all.map{|c| {id: c.name, text: c.name}}}
  .form-group
    = f.label :password, class: "col-sm-2"
    .col-sm-4
      = f.password_field :password, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :password_confirmation, class: "col-sm-2"
    .col-sm-4
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  .col-sm-2.col-sm-offset-2
    - if resource.persisted?
      = f.submit "Update", class: "btn btn-success"
    - else
      = f.submit t("devise.registrations.title"), class: "btn btn-success"
  - unless resource.persisted?
    .col-sm-4.col-sm-offset-2
      = render "devise/shared/links", signin: true, signup: false
