<% devise_mapping ||= Devise.mappings[:user] # rubocop:disable Lint/UselessAssignment %>
<p class="mt-2 text-sm text-gray-600">
  <% if !controller_name.in?(%w[sessions cups]) && !(controller_name == "registrations" && action_name == "edit") %>
    <%= link_to t("devise.links.sign_in"), new_user_session_path, class: "font-medium text-red-600 hover:text-red-500" %>
    <br>
  <% end %>
  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to t("devise.links.sign_up"), new_user_registration_path, class: "font-medium text-red-600 hover:text-red-500" %>
    <br>
  <% end %>
  <% if devise_mapping.recoverable? && controller_name != 'passwords' && !controller_name.in?(%w[registrations]) %>
    <%= link_to t("devise.links.forgot"), new_user_password_path, class: "font-medium text-red-600 hover:text-red-500" %>
    <br>
  <% end %>
  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to t("devise.links.confirmation"), new_user_confirmation_path, class: "font-medium text-red-600 hover:text-red-500" %>
    <br>
  <% end %>
  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to t("devise.links.unlock"), new_user_unlock_path, class: "font-medium text-red-600 hover:text-red-500" %>
    <br>
  <% end %>
</p>
