.row#over
  .col-xs-12.col-md-12.alert.alert-warning
    =raw t(".over")
.row#results
  .col-xs-12.col-md-12
    %h2= t '.results.title'
  .col-xs-12.col-md-6
    %h3 Team
    %p
      1. BUDO XI
      %br
      .small
        Daniel Antoni, Jonathan Bertout, Walter Mccahon, Jukoh Takeuchi, Antoine Gascoin
    %p
      2. Swiss Team 1
      %br
      .small
        Cyrian Pitteloud, Chris Kröbl, Yannick Rothacher, Mathieu Schoch, Oscar Kimura
    %p
      3. Alessandria
      %br
      .small
        Antonella Alvarez Garcia, Guido Drago, Fabrizio Mandia, Alessandro Ricaldone, Alberto Sozzi
    %p
      3. Saint Etienne 1
      %br
      .small
        Alban Ranchon, Wilfried Olivier, Andres Massa, Arnaud Pons, Thomas Peyroche, Pauline Stolarz
    %ul
      %li= link_to "Competition tree", image_path("results2014/KASA_TEAM_2_2014.pdf")
      %li= link_to "Semi-final video (Swiss Team vs Alessandria)", "https://www.youtube.com/watch?v=Q-YvPdotx5k"
      %li= link_to "Semi-final video (Saint Etienne vs BUDO IX)", "https://www.youtube.com/watch?v=NVf5wzzSogE"
      %li= link_to "Final video (BUDO IX vs Swiss Team)", "https://www.youtube.com/watch?v=bosfNhQq5Dg"
  .col-xs-12.col-md-6
    %h3 Open
    %p
      1. Fabrizio Mandia (Alessandria)
    %p
      2. Oscar Kimura (Zürich)
    %p
      3. Arnaud Pons (Saint Etienne)
    %p
      3. Yannick Rothacher (Zürich)
    %p
      FS: Tom Widdows (Manchester)
    %ul
      %li= link_to "Pools", image_path("results2014/open_pools.pdf")
      %li= link_to "Competition tree A1", image_path("results2014/KASA_OPEN_A1_2014.pdf")
      %li= link_to "Competition tree A2", image_path("results2014/KASA_OPEN_A2_2014.pdf")
      %li= link_to "Competition tree B1", image_path("results2014/KASA_OPEN_B1_2014.pdf")
      %li= link_to "Competition tree B2", image_path("results2014/KASA_OPEN_B2_2014.pdf")
      %li= link_to "Final video (Mandia vs Kimura)", "https://www.youtube.com/watch?v=-qOLAfiTeKs"
  .col-xs-12.col-md-6
    %h3 Ladies
    %p
      1. Sabrina Kumpf (Germany)
    %p
      2. Pauline Stolarz (Saint Etienne)
    %p
      3. Safia Fadai (Germany)
    %p
      4. Misato Chiba (Japan)
    %p
      FS: Catherine Köppe (Germany)
    %ul
      %li= link_to "Pools", image_path("results2014/ladies_pools.pdf")
      %li= link_to "Competition tree", image_path("results2014/KASA_LADIES_2014.pdf")
      %li= link_to "Final video (Kumpf vs Stolarz)", "https://www.youtube.com/watch?v=U8xJlHvaBq8"
  .col-xs-12.col-md-6
    %h3 Junior1
    %p
      1. Ugo Goliard (Le Puy)
    %p
      2. Theo Renz (Zürich)
    %p
      3. Thais Kimura (Zürich)
    %p
      3. Takumi Henri-Viel (Annecy)
    %p
      FS: Léonie Lafont (Annecy)
    %ul
      %li= link_to "Pools", image_path("results2014/junior1_pools.pdf")
      %li= link_to "Competition tree", image_path("results2014/KASA_JUNIORS_2014.pdf")
  .col-xs-12.col-md-6
    %h3 Junior2
    %p
      1. Louis Moutarde (Annecy)
    %p
      2. Gilliam Sayad (Saint Etienne)
    %p
      3. Masahiro Ueda (Japan)
    %p
      3. Guillaume Buob (Lausanne)
    %p
      FS. Erik Koller (Gelterkinden)
    %ul
      %li= link_to "Pools", image_path("results2014/junior2_pools.pdf")
      %li= link_to "Competition tree", image_path("results2014/KASA_JUNIORS_2_2014.pdf")
      %li= link_to "Final video (Moutarde vs Sayad)", "https://www.youtube.com/watch?v=U8xJlHvaBq8"
.row
  .panel.panel-info
    .panel-heading
      =raw t(".other_links")
    %ul.list-group
      %li.list-group-item
        = link_to "Stéphane Cazalet (Scaz) Flickr album", "https://www.flickr.com/photos/scazalet/sets/72157648154694195/"
