<div class="w-full bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6 prose prose-red-900 prose-lg">
    <% if user_signed_in? %>
      <h3 class="">
        <% if Time.current.hour <= 10 %>
          Ohayō gozaimasu
        <% elsif Time.current.hour >= 22 %>
          Konbanwa
        <% else %>
          Konnichiwa
        <% end %>
        <em>
          <%= current_user.first_name %>
        </em>
      </h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500 prose prose-red-900 prose-lg">
        <% if current_user.has_kenshis_for_cup?(@cup) %>
          <%= t "users.resume.kenshis_number", number: current_user.kenshis.for_cup(@cup).count %>
          <ul class="">
            <% current_user.kenshis.for_cup(@cup).each do |kenshi| %>
              <li class="">
                <em>
                  <%= kenshi.full_name %>
                </em>
                <%= "(#{kenshi.participations.map{|p| p.category.name}.join(", ")})" if kenshi.participations.present? %>
              </li>
            <% end %>
          </ul>
        <% else %>
          You have no registrations yet.
        <% end %>
        <p>
          Would you like to
          <%= link_to "register someone?", new_cup_user_kenshi_path(@cup, current_user) %>
        </p>
      </div>
    <% else %>
      <h3 class="">
        <%= t("devise.sessions.title") %>
      </h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500">
        <%= render("devise/sessions/form", resource: User.new, resource_name: :user) %>
        <div class="mt-6">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
