<div class="w-full bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6 prose prose-red-900 prose-lg">
    <% if user_signed_in? %>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        <% if Time.current.hour <= 10 %>
          Ohayō gozaimasu
        <% elsif Time.current.hour >= 22 %>
          Konbanwa
        <% else %>
          Konnichiwa
        <% end %>
        <em>
          <%= current_user.first_name %>
        </em>
      </h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500 prose prose-red-900 prose-lg">
        <% if current_user.has_kenshis_for_cup?(cup) %>
          <%= t "users.resume.kenshis_number", number: current_user.kenshis.for_cup(cup).count %>
          <ul class="">
            <% current_user.kenshis.for_cup(cup).each do |kenshi| %>
              <li class="">
                <em>
                  <%= kenshi.full_name %>
                </em>
                <%= "(#{kenshi.participations.map { |p| p.category.name }.join(", ")})" if kenshi.participations.present? %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>
            <%= t("users.show.no_registrations") %>
          </p>
        <% end %>
        <% if can?(:register, cup) %>
          <p>
            <%=
              link_to(t("users.show.register_yourself"), new_cup_user_kenshi_path(cup, self: true, locale: I18n.locale), class: "font-medium text-red-600 hover:text-red-500")
            %>
          </p>
          <p>
            <%=
              link_to(t("users.show.register_someone_else"), new_cup_user_kenshi_path(cup, locale: I18n.locale), class: "font-medium text-red-600 hover:text-red-500") if can?(:register, cup)
            %>
          </p>
        <% end %>
      </div>
    <% else %>
      <h3 class="">
        <%= t("devise.sessions.title") %>
      </h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500">
        <%= render("devise/sessions/form", resource: User.new, resource_name: :user) %>
        <div class="mt-6">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
