<%= render(BannerComponent.new) do %>
  <% if Time.current > @cup.deadline %>
    <%= t(".deadline_passed", deadline: I18n.l(@cup.deadline, format: :long)) %>
  <% elsif @cup.not_yet_registerable? %>
    <%= t(".registrations_opening_soon", deadline: I18n.l(@cup.deadline, format: :long)) %>
  <% elsif @cup.registerable? %>
    <%= t(".deadline", deadline: I18n.l(@cup.deadline, format: :long)) %>
  <% end %>
<% end %>
<div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
  <%= render(HeroComponent.new(cup: @cup, current_user: current_user)) %>
  <% if @cup.description %>
    <div class="text-4xl font-extrabold tracking-tight text-slate-900 text-center py-10 md:text-7xl">
      <%= md_to_html(@cup.description) %>
    </div>
  <% end %>
  <div class="lg:grid lg:grid-cols-3 lg:gap-12">
    <div class="mt-6 prose prose-red-900 prose-lg text-gray-900 lg:col-span-2" id="program">
      <% if @headlines.any? %>
        <div class="mt-4">
          <%= render "headline", headline: @headlines.first %>
        </div>
      <% end %>
      <% if @grouped_events.any? %>
        <% if @cup.start_on > Date.today.end_of_day - 3.days %>
          <h2 class="mt-10">
            <%= t(".program.title") %>
          </h2>
          <div class="lg:grid lg:grid-cols-2 lg:gap-8">
            <% @grouped_events.each do |date, events| %>
              <div class="lg:col-1">
                <h3 class="mt-0">
                  <%= l date, format: :short %>
                </h3>
                <table class="table lg:mb-0">
                  <tbody>
                    <% for event in events %>
                      <tr>
                        <th class="whitespace-nowrap align-text-top text-right">
                          <%= event.start_on.to_fs(:time_only) %>
                        </th>
                        <td>
                          <%= event.name %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
            <% if @cup.individual_categories.any? || @cup.team_categories.any? %>
              <div id="categories" class="prose prose-red-900 prose-lg text-gray-900 lg:col-span-2">
                <h2 class="mt-10">
                  <%= t(".categories.title") %>
                </h2>
                <table class="table lg:mb-0">
                  <tbody>
                    <% @cup.individual_categories.order(:name).each do |c| %>
                      <tr>
                        <th class="whitespace-nowrap text-right">
                          <%= c.name %>
                        </th>
                        <td>
                          <% if c.description.present? %>
                            <%= c.description %>
                          <% elsif c.min_age %>
                            <%= t("categories.from") %>
                            <%= c.min_age %>
                            <%= t("categories.yo") %>
                          <% elsif c.max_age %>
                            <%= t("categories.to") %>
                            <%= c.max_age %>
                            <%= t("categories.yo") %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    <% @cup.team_categories.each do |c| %>
                      <tr>
                        <th class="whitespace-nowrap text-right">
                          <%= c.name.capitalize %>
                        </th>
                        <td>
                          <%= c.description.to_s %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
            <div id="shinpans" class="prose prose-red-900 prose-lg text-gray-900 lg:col-span-2">
              <h2 class="mt-10">
                <%= t(".shinpans.title") %>
              </h2>
              <p>
                <%= t(".shinpans.info") %>
              </p>
              <% if @shinpans.any? %>
                <h3 class="mt-10">
                  <%= t(".shinpans.invited.title") %>
                </h3>
                <table class="table">
                  <tbody>
                    <% @shinpans.each.with_index do |shinpan, index| %>
                      <tr>
                        <td class="text-right">
                          <%= index + 1 %>.
                        </td>
                        <td class="text-right">
                          <%= shinpan.female ? User.human_attribute_name(:ms) : User.human_attribute_name(:mr) %>
                        </td>
                        <th class="lg:whitespace-nowrap text-left">
                          <%= shinpan.full_name %>
                        </th>
                        <td class="text-left">
                          <em><%= shinpan.grade %></em>
                        </td>
                        <td class="text-right">
                          <%= shinpan.club.name %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            </div>
            <% if @cup.products.any? %>
              <div id="fees" class="prose prose-red-900 prose-lg text-gray-900 lg:col-span-2">
                <h2 class="mt-10">
                  <%= t(".fees.title") %>
                </h2>
                <p>
                  <%= t(".fees.description") %>
                </p>
                <table class="table">
                  <tbody>
                    <% @cup.products.order(:position).each do |product| %>
                      <tr>
                        <th class="lg:whitespace-nowrap text-right">
                          <%= product.name %>
                          <% if product.description.present? %>
                              <em class="text-gray-500 ">(<%= product.description %>)</em>
                          <% end %>

                          <% if product.still_available? %>
                            <% if product.remaining_spots %>
                              <span class="text-brand italic">(<%= t(".spots_left", count: product.remaining_spots) %> )</span>
                            <% end %>
                          <% else %>
                            <span class="text-brand italic">(<%= t(".products.not_available") %>)</span>
                          <% end %>
                        </th>
                        <td class="text-left">
                          <%= raw t(".fee", fee_chf: product.fee_chf, fee_eu: product.fee_eu) %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div id="venue" class="prose prose-red-900 prose-lg text-gray-900 lg:col-span-2">
        <h2 class="mt-10">
          <%= t(".venue.title") %>
        </h2>
        <p>
          <%= raw t(".venue.a", stade_du_bout_du_monde: link_to("Centre sportif du Bout-du-Monde", "http://www.ville-geneve.ch/plan-ville/sports/centre-sportif-bout-monde/")) %>
        </p>
        <h3>
          <%= t(".venue.address.title") %>
        </h3>
        <%= md_to_html(t(".venue.address.content")) %>
      </div>
      <div id="accomodation" class="prose prose-red-900 prose-lg text-gray-900 lg:col-span-2">
        <h2 class="mt-10">
          <%= t ".accomodation.title" %>
        </h2>
        <p>
          <%= raw t ".accomodation.dormitory" %>
        </p>
        <p>
          <%= raw t ".accomodation.hotels" %>
        </p>
      </div>
    </div>
    <% if @cup.registerable? %>
      <div class="mt-10">
        <%= render "current_user_resume", cup: @cup %>
      </div>
    <% end %>
  </div>
</div>
