<div class="col-xs-12 col-md-8"></div>
<div class="row"></div>
<div class="jumbotron"></div>
<h1></h1>
<%= t 'layout.header.title' %>
<%= @cup.year %>
<br/>
<small></small>
<% if @cup.end_on %>
  <%= "#{l(@cup.start_on, format: :day_only)} - #{l(@cup.end_on, format: :long)}," %>
<% else %>
<% end %>
<%= "#{l(@cup.start_on, format: :long)}, " %>
<%= t("layout.header.title_em") %>
<div class="row" id="deadline"></div>
<div class="col-xs-12 col-md-12 alert alert-warning"></div>
<% if Time.current > @cup.deadline %>
  <%= raw t("cups.show.deadline_passed", deadline: I18n.l(@cup.deadline, format: :long)) %>
<% else %>
<% end %>
<%= raw t("cups.show.deadline", deadline: I18n.l(@cup.deadline, format: :long)) %>
<div class="row" id="over"></div>
<div class="col-xs-12 col-md-12 alert alert-warning"></div>
<%= raw t("cups.show.over") %>
<div class="row" id="results"></div>
<div class="col-xs-12 col-md-12"></div>
<h2>
  <%= t 'cups.show.results.title' %>
</h2>
<div class="col-xs-12 col-md-6"></div>
<h3>Team</h3>
<p></p>
1. BUDO XI
<br/>
<div class="small"></div>
Daniel Antoni, Jonathan Bertout, Walter Mccahon, Jukoh Takeuchi, Antoine Gascoin
<p></p>
2. Swiss Team 1
<br/>
<div class="small"></div>
Cyrian Pitteloud, Chris Krobl, Yannick Rothacher, Mathieu Schoch, Oscar Kimura
<p></p>
3. Alessandria
<br/>
<div class="small"></div>
Antonella Alvarez Garcia, Guido Drago, Fabrizio Mandia, Alessandro Ricaldone, Alberto Sozzi
<p></p>
3. Saint Etienne 1
<br/>
<div class="small"></div>
Alban Ranchon, Wilfried Olivier, Andres Massa, Arnaud Pons, Thomas Peyroche, Pauline Stolarz
<ul></ul>
<li>
  <%= link_to "Competition tree", image_path("results2014/KASA_TEAM_2_2014.pdf") %>
</li>
<li>
  <%= link_to "Semi-final video (Swiss Team vs Alessandria)", "https://www.youtube.com/watch?v=Q-YvPdotx5k" %>
</li>
<li>
  <%= link_to "Semi-final video (Saint Etienne vs BUDO IX)", "https://www.youtube.com/watch?v=NVf5wzzSogE" %>
</li>
<li>
  <%= link_to "Final video (BUDO IX vs Swiss Team)", "https://www.youtube.com/watch?v=bosfNhQq5Dg" %>
</li>
<div class="col-xs-12 col-md-6"></div>
<h3>Open</h3>
<p></p>
1. Fabrizio Mandia (Alessandria)
<p></p>
2. Oscar Kimura (Zurich)
<p></p>
3. Arnaud Pons (Saint Etienne)
<p></p>
3. Yannick Rothacher (Zurich)
<p></p>
FS: Tom Widdows (Manchester)
<ul></ul>
<li>
  <%= link_to "Pools", image_path("results2014/open_pools.pdf") %>
</li>
<li>
  <%= link_to "Competition tree A1", image_path("results2014/KASA_OPEN_A1_2014.pdf") %>
</li>
<li>
  <%= link_to "Competition tree A2", image_path("results2014/KASA_OPEN_A2_2014.pdf") %>
</li>
<li>
  <%= link_to "Competition tree B1", image_path("results2014/KASA_OPEN_B1_2014.pdf") %>
</li>
<li>
  <%= link_to "Competition tree B2", image_path("results2014/KASA_OPEN_B2_2014.pdf") %>
</li>
<li>
  <%= link_to "Final video (Mandia vs Kimura)", "https://www.youtube.com/watch?v=-qOLAfiTeKs" %>
</li>
<div class="col-xs-12 col-md-6"></div>
<h3>Ladies</h3>
<p></p>
1. Sabrina Kumpf (Germany)
<p></p>
2. Pauline Stolarz (Saint Etienne)
<p></p>
3. Safia Fadai (Germany)
<p></p>
4. Misato Chiba (Japan)
<p></p>
FS: Catherine Koppe (Germany)
<ul></ul>
<li>
  <%= link_to "Pools", image_path("results2014/ladies_pools.pdf") %>
</li>
<li>
  <%= link_to "Competition tree", image_path("results2014/KASA_LADIES_2014.pdf") %>
</li>
<li>
  <%= link_to "Final video (Kumpf vs Stolarz)", "https://www.youtube.com/watch?v=U8xJlHvaBq8" %>
</li>
<div class="col-xs-12 col-md-6"></div>
<h3>Junior1</h3>
<p></p>
1. Ugo Goliard (Le Puy)
<p></p>
2. Theo Renz (Zurich)
<p></p>
3. Thais Kimura (Zurich)
<p></p>
3. Takumi Henri-Viel (Annecy)
<p></p>
FS: Leonie Lafont (Annecy)
<ul></ul>
<li>
  <%= link_to "Pools", image_path("results2014/junior1_pools.pdf") %>
</li>
<li>
  <%= link_to "Competition tree", image_path("results2014/KASA_JUNIORS_2014.pdf") %>
</li>
<div class="col-xs-12 col-md-6"></div>
<h3>Junior2</h3>
<p></p>
1. Louis Moutarde (Annecy)
<p></p>
2. Gilliam Sayad (Saint Etienne)
<p></p>
3. Masahiro Ueda (Japan)
<p></p>
3. Guillaume Buob (Lausanne)
<p></p>
FS. Erik Koller (Gelterkinden)
<ul></ul>
<li>
  <%= link_to "Pools", image_path("results2014/junior2_pools.pdf") %>
</li>
<li>
  <%= link_to "Competition tree", image_path("results2014/KASA_JUNIORS_2_2014.pdf") %>
</li>
<li>
  <%= link_to "Final video (Moutarde vs Sayad)", "https://www.youtube.com/watch?v=U8xJlHvaBq8" %>
</li>
