.col-xs-12.col-md-8
  .row
    .jumbotron
      %h1
        = t 'layout.header.title'
        = @cup.year
        %br
        %small
          - if @cup.end_on
            = "#{l(@cup.start_on, format: :day_only)}–#{l(@cup.end_on, format: :long)},"
          - else
            = "#{l(@cup.start_on, format: :long)}, "
          = t("layout.header.title_em")

  .row#over
    .col-xs-12.col-md-12.alert.alert-warning
      =raw t("cups.show.over")
  .row#results
    .col-xs-12.col-md-12
      %h2= t 'cups.show.results.title'
    .col-xs-12
      %h3 Team
      %p
        1. Saint Etienne
        %br
        .small
          Dimitri Paraskevaidis, Andres Massa, Giliam Sayad, Lucas Pina Pinichet, Arnaud Pons
      %p
        2. Kodokan Alessandria
        %br
        .small
          Alberto Sozzi, Fabio Bussi, Gabriele Ventura , Fabrizio Mandia, Alessandro Ricaldone
      %p
        3. Buchelay
        %br
        .small
          Ludovic Hidrio, Mathieu Besnard, Agnieszka Wial, Kevin Champagne, Fabrice Hald
      %p
        3. Swiss Men
        %br
        .small
          Christopher Strub, Max Mosbacher, Silvan Ott, Ricardo Rodrigues, Patrick Kipfer
      %ul
        %li= link_to "Competition tree", "https://kasaharacup.s3-eu-west-1.amazonaws.com/documents/2019/KASA_TEAM_2019.pdf", target: "_blank"
      <iframe src="https://www.youtube.com/embed/vebQwUa7Ejs" frameborder="0" height="200" width="300" allowfullscreen></iframe>
    .col-xs-12
      %h3 Ladies
      %p
        1. Sabrina Kumpf (Aarau)
      %p
        2. Lyna Maaziz (French Ladies)
      %p
        3. Laure Bellivier (Genève)
      %p
        3. Veronika Orasch (Basel)
      %p
        FS: Marine Vandenberghe (Valence)
      %ul
        %li= link_to "Pools", "https://kasaharacup.s3-eu-west-1.amazonaws.com/documents/2019/ladies_recap.pdf", target: "_blank"
        %li= link_to "Competition tree A", "https://kasaharacup.s3-eu-west-1.amazonaws.com/documents/2019/KASA_LADIES_1_2019.pdf", target: "_blank"
        %li= link_to "Competition tree B", "https://kasaharacup.s3-eu-west-1.amazonaws.com/documents/2019/KASA_LADIES_2_2019.pdf", target: "_blank"
      <iframe src="https://www.youtube.com/embed/W-WYHOTxNHM" frameborder="0" height="200" width="300" allowfullscreen></iframe>
    .col-xs-12
      %h3 Open
      %p
        1. Daisuke Endo (Genève)
      %p
        2. Yannis Jaquet (Genève)
      %p
        3. Arnaud Pons (Saint Etienne)
      %p
        3. Giliam Sayad (Saint Etienne)
      %p
        FS: Carlos Daniel Del Valle Prada (Madrid)
      %ul
        %li= link_to "Pools", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/open_recap.pdf", target: "_blank"
        %li= link_to "Competition tree A1", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_Open_A1_2019.pdf", target: "_blank"
        %li= link_to "Competition tree A2", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_Open_A2_2019.pdf", target: "_blank"
        %li= link_to "Competition tree A3", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_Open_B1_2019.pdf", target: "_blank"
        %li= link_to "Competition tree A4", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_Open_B1_2019.pdf", target: "_blank"
      <iframe src="https://www.youtube.com/embed/BPLQYIDapXU" frameborder="0" height="200" width="300" allowfullscreen></iframe>

    .col-xs-12
      %h3 Junior U12
      %p
        1. Masaki Yamanaka (Budo XI, Paris)
      %p
        2. Youzo Moutarde (Annecy)
      %p
        3. Julia Jacquemoud (Lucerne)
      %p
        3. Marco Hecht (Lucerne)
      %p
        FS: Hiroaki Hata (Genève)
      %ul
        %li= link_to "Pools", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/junior_u12_recap.pdf", target: "_blank"
        %li= link_to "Competition tree", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_JuniorsU12_2019.pdf", target: "_blank"
    .col-xs-12
      %h3 Junior U15
      %p
        1. Nolan Champagne (Buchelay)
      %p
        2. Erwan Pialat (Le Puy)
      %p
        3. Tetsuya Hata (Genève)
      %p
        3. Pénélope Jaquet (Genève)
      %p
        FS: Marie Débonnaire (Lausanne)
      %ul
        %li= link_to "Pools", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/junior_u15_recap.pdf", target: "_blank"
        %li= link_to "Competition tree", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_JuniorsU15_2019.pdf", target: "_blank"
      <iframe src="https://www.youtube.com/embed/XoGrvWHpiQU" frameborder="0" height="200" width="300" allowfullscreen></iframe>
    .col-xs-12
      %h3 Junior U18
      %p
        1. Hiroki Yamanaka (Budo XI, Paris)
      %p
        2. Mateo Chesneau (Chambéry)
      %p
        3. Ugo Goliard (Le Puy)
      %p
        3. Antonin Grebel (Chambéry)
      %p
        FS: Quentin Dosch (Strasbourg)
      %ul
        %li= link_to "Pools", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/junior_u18_recap.pdf", target: "_blank"
        %li= link_to "Competition tree", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_JuniorsU18_2019.pdf", target: "_blank"
.col-xs-12.col-md-4

  - if @headline.present?
    .panel.panel-default.headlines
      .panel-heading
        %h2= t 'headlines.title'
      .panel-body
        %h4
          = @headline.title
          %small
            = l @headline.created_at.to_date, format: :long
        =raw @headline.content
      .panel-footer
        = link_to t('headlines.link'), cup_headlines_path(@cup)


  = form_tag "http://kendo-geneve.us6.list-manage.com/subscribe/post", class: "form" do
    = hidden_field_tag :u, "5545e540aff9e8b07df2f5531"
    = hidden_field_tag :id, "4b7d62b6b3"
    .panel.panel-default.contact
      .panel-heading
        %h3
          = label_tag 'EMAIL', "Newsletter"
      .panel-body.form-inline
        .form-group
          = email_field_tag 'EMAIL', nil, required: true, placeholder: t('cups.show.newsletter.email'), class: "form-control"
          = button_tag t('cups.show.newsletter.button'), class: "btn btn-info"
        %p.help-block= t('cups.show.newsletter.register')

  %h3= t 'cups.show.social.title'

  %p
    = link_to "#{icon('fab', 'twitter')} | twitter".html_safe, "https://twitter.com/kendo_in_geneva", id: 'twitter_icon', class: "btn btn-twitter"
    - if I18n.locale == :fr
      = link_to 'Tweet', "https://twitter.com/share", class: "twitter-share-button", data: {url: "http://kasaharacup.com", text: "Cette année, je vais à la coupe Kasahara!", via: "kendo_in_geneva", lang: 'fr', related: "kendo_in_geneva", hashtags: "kasa2015"}
    - else
      = link_to 'Tweet', "https://twitter.com/share", class: "twitter-share-button", data: {url: "http://kasaharacup.com", text: "Checkout the kasaharacup.com webpage!", via: "kendo_in_geneva", related: "kendo_in_geneva", hashtags: "kasa2015"}
    :javascript
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}
      }(document, 'script', 'twitter-wjs');
  %p
    = link_to "#{icon('fab', 'facebook')} | facebook".html_safe, "https://www.facebook.com/kendogeneve", id: 'facebook_icon', class: "btn btn-facebook"
    - if I18n.locale == :fr
      .fb-like{data: {href: "http://kasaharacup.com/fr", send: "true", layout: "button_count", width: "100", 'show-faces' => "false"}}
    - else
      .fb-like{data: {href: "http://kasaharacup.com/en", send: "true", layout: "button_count", width: "100", 'show-faces' => "false"}}
  %p
    = link_to "#{icon('fab', 'flickr')} | flickr".html_safe, "https://www.flickr.com/photos/8469782@N03", id: 'flickr_icon', class: "btn btn-flickr"
  %p
    %script{src: "https://apis.google.com/js/platform.js"}
    .g-ytsubscribe{data: {channel: "KendoGeneva", layout: "default", count: "default"}}
