<%= render(BannerComponent.new) do %>
  <%= raw t("cups.show.over") %>
<% end %>
<div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
  <%= render(HeroComponent.new(cup: @cup)) %>
  <h2 class="text-3xl">
    <%= t 'cups.show.results.title' %>
  </h2>
  <h3 class="text-2xl">Team</h3>
  <dl class="sm:divide-y sm:divide-gray-200">
    <div class="py-4 sm:py-5 grid grid-cols-3 gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">
        1. Saint Etienne
      </dt>
      <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2">
        Dimitri Paraskevaidis, Andres Massa, Giliam Sayad, Lucas Pina Pinichet, Arnaud Pons
      </dd>
    </div>
    <div class="py-4 sm:py-5 grid grid-cols-3 gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">
        2. Kodokan Alessandria
      </dt>
      <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2">
        Alberto Sozzi, Fabio Bussi, Gabriele Ventura, Fabrizio Mandia, Alessandro Ricaldone
      </dd>
    </div>
    <div class="py-4 sm:py-5 grid grid-cols-3 gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">
        3. Buchelay
      </dt>
      <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2">
        Ludovic Hidrio, Mathieu Besnard, Agnieszka Wial, Kevin Champagne, Fabrice Hald
      </dd>
    </div>
    <div class="py-4 sm:py-5 grid grid-cols-3 gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">
        3. Swiss Men
      </dt>
      <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2">
        Christopher Strub, Max Mosbacher, Silvan Ott, Ricardo Rodrigues, Patrick Kipfer
      </dd>
    </div>
    <ul>
      <li>
        <%= link_to "Competition tree", "https://kasaharacup.s3-eu-west-1.amazonaws.com/documents/2019/KASA_TEAM_2019.pdf", target: "_blank" %>
      </li>
    </ul>
    <iframe src="https://www.youtube.com/embed/vebQwUa7Ejs" frameborder="0" height="200" width="300" allowfullscreen></iframe>
    <div class="col-xs-12">
      <h3>Ladies</h3>
      <p>
        1. Sabrina Kumpf (Aarau)
      </p>
      <p>
        2. Lyna Maaziz (French Ladies)
      </p>
      <p>
        3. Laure Bellivier (Geneva)
      </p>
      <p>
        3. Veronika Orasch (Basel)
      </p>
      <p>
        FS: Marine Vandenberghe (Valence)
      </p>
      <ul>
        <li>
          <%= link_to "Pools", "https://kasaharacup.s3-eu-west-1.amazonaws.com/documents/2019/ladies_recap.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree A", "https://kasaharacup.s3-eu-west-1.amazonaws.com/documents/2019/KASA_LADIES_1_2019.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree B", "https://kasaharacup.s3-eu-west-1.amazonaws.com/documents/2019/KASA_LADIES_2_2019.pdf", target: "_blank" %>
        </li>
      </ul>
      <iframe src="https://www.youtube.com/embed/W-WYHOTxNHM" frameborder="0" height="200" width="300" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12">
      <h3>Open</h3>
      <p>
        1. Daisuke Endo (Geneva)
      </p>
      <p>
        2. Yannis Jaquet (Geneva)
      </p>
      <p>
        3. Arnaud Pons (Saint Etienne)
      </p>
      <p>
        3. Giliam Sayad (Saint Etienne)
      </p>
      <p>
        FS: Carlos Daniel Del Valle Prada (Madrid)
      </p>
      <ul>
        <li>
          <%= link_to "Pools", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/open_recap.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree A1", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_Open_A1_2019.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree A2", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_Open_A2_2019.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree B1", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_Open_B1_2019.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree B2", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_Open_B2_2019.pdf", target: "_blank" %>
        </li>
      </ul>
      <iframe src="https://www.youtube.com/embed/BPLQYIDapXU" frameborder="0" height="200" width="300" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12">
      <h3>Junior U12</h3>
      <p>
        1. Masaki Yamanaka (Budo XI, Paris)
      </p>
      <p>
        2. Youzo Moutarde (Annecy)
      </p>
      <p>
        3. David Jacquemoud (Lucerne)
      </p>
      <p>
        3. Marco Hecht (Lucerne)
      </p>
      <p>
        FS: Hiroaki Hata (Geneva)
      </p>
      <ul>
        <li>
          <%= link_to "Pools", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/junior_u12_recap.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_JuniorsU12_2019.pdf", target: "_blank" %>
        </li>
      </ul>
    </div>
    <div class="col-xs-12">
      <h3>Junior U15</h3>
      <p>
        1. Nolan Champagne (Buchelay)
      </p>
      <p>
        2. Erwan Pialat (Le Puy)
      </p>
      <p>
        3. Tetsuya Hata (Geneva)
      </p>
      <p>
        3. Penelope Jaquet (Geneva)
      </p>
      <p>
        FS: Marie Debonnaire (Lausanne)
      </p>
      <ul>
        <li>
          <%= link_to "Pools", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/junior_u15_recap.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_JuniorsU15_2019.pdf", target: "_blank" %>
        </li>
      </ul>
      <iframe src="https://www.youtube.com/embed/XoGrvWHpiQU" frameborder="0" height="200" width="300" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12">
      <h3>Junior U18</h3>
      <p>
        1. Hiroki Yamanaka (Budo XI, Paris)
      </p>
      <p>
        2. Mateo Chesneau (Chambery)
      </p>
      <p>
        3. Ugo Goliard (Le Puy)
      </p>
      <p>
        3. Antonin Grebel (Chambery)
      </p>
      <p>
        FS: Quentin Dosch (Strasbourg)
      </p>
      <ul>
        <li>
          <%= link_to "Pools", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/junior_u18_recap.pdf", target: "_blank" %>
        </li>
        <li>
          <%= link_to "Competition tree", "https://s3-eu-west-1.amazonaws.com/kasaharacup/documents/2019/KASA_JuniorsU18_2019.pdf", target: "_blank" %>
        </li>
      </ul>
    </div>
  </dl>
</div>
