.col-xs-12.col-md-8
  .row
    .jumbotron
      %h1
        = t 'layout.header.title'
        = @cup.year
        %br
        %small
          - if @cup.end_on
            = "#{l(@cup.start_on, format: :day_only)}–#{l(@cup.end_on, format: :long)},"
          - else
            = "#{l(@cup.start_on, format: :long)}, "
          = t("layout.header.title_em")
  .row#deadline
    .col-xs-12.col-md-12.alert.alert-warning
      - if Time.current > @cup.deadline
        =raw t("cups.show.deadline_passed", deadline: I18n.l(@cup.deadline, format: :long))
      - else
        =raw t("cups.show.deadline", deadline: I18n.l(@cup.deadline, format: :long))

  .row#over
    .col-xs-12.col-md-12.alert.alert-warning
      =raw t("cups.show.over")
  .row#results
    .col-xs-12.col-md-12
      %h2= t 'cups.show.results.title'
    .col-xs-12.col-md-6
      %h3 Team
      %p
        1. Saint Etienne 1
        %br
        .small
          Arnaud Pons, Andres Massa, Wilfried Olivier, Alban Ranchon, Hervé Blanchard
      %p
        2. BUDO IX
        %br
        .small
          Daniel Antoni, Koïchi Nakabayashi, Kei Ito, Jonathan Bertout, Jukoh Takeuchi
      %p
        3. Alessandria
        %br
        .small
          Fabrizio Mandia, Guido Drago, Pietro Butti, Alberto Sozzi, Andrea Firbus
      %p
        3. Swiss Men
        %br
        .small
          Chris Kröbl, Oliver De Capitani, Mathieu Schoch, Max Mosbacher, David Pipola
      %ul
        %li= link_to "Competition tree", image_path("results2015/Teams_2015.pdf")
      <iframe src="https://www.youtube.com/embed/OLikP_9PyOY" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/yyGTc6tbH4U" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/nqOqIJ-DWfg" frameborder="0" allowfullscreen></iframe>
    .col-xs-12.col-md-6
      %h3 Open
      %p
        1. Fabrizio Mandia (Alessandria)
      %p
        2. Arnaud Pons (Saint Etienne)
      %p
        3. Sylvain Chodkowski (Pessac)
      %p
        3. Kei Ito (BUDO IX)
      %p
        FS: Marine Vandenberghe (Valence)
      %ul
        %li= link_to "Pools", image_path("results2015/open_pools_2015.pdf")
        %li= link_to "Competition tree A1", image_path("results2015/Open_A1_2015.pdf")
        %li= link_to "Competition tree A2", image_path("results2015/Open_A2_2015.pdf")
        %li= link_to "Competition tree B1", image_path("results2015/Open_B1_2015.pdf")
        %li= link_to "Competition tree B2", image_path("results2015/Open_B2_2015.pdf")
      <iframe src="https://www.youtube.com/embed/81vAB5NHDUg" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/To-VIsTAH1Y" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/fDSm-g_iJdk" frameborder="0" allowfullscreen></iframe>
    .col-xs-12.col-md-6
      %h3 Ladies
      %p
        1. Pauline Stolarz (Saint Etienne)
      %p
        2. Kiyoko Moutarde (Annecy)
      %p
        3. Misato Chiba (Genève)
      %p
        4. Inès Loidi (Toulous)
      %p
        FS: Aneline Lamour (Poitiers)
      %ul
        %li= link_to "Pools", image_path("results2015/ladies_pools_2015.pdf")
        %li= link_to "Competition tree", image_path("results2015/KASA_LADIES_2015.pdf")
      <iframe src="https://www.youtube.com/embed/bZgszx0HolU" frameborder="0" allowfullscreen></iframe>
    .col-xs-12.col-md-6
      %h3 Junior1
      %p
        1. Ugo Goliard (Le Puy)
      %p
        2. Naoki Henry-Viel (Annecy)
      %p
        3. Theo Renz (Zürich)
      %p
        3. Takumi Henri-Viel (Annecy)
      %p
        FS: Naima Geiger (Zürich)
      %ul
        %li= link_to "Pools", image_path("results2015/Juniors1_pools_2015.pdf")
        %li= link_to "Competition tree", image_path("results2015/Juniors1_2015.pdf")
    .col-xs-12.col-md-6
      %h3 Junior2
      %p
        1. Masahiro Ueda (Genève)
      %p
        2. Louis Moutarde (Annecy)
      %p
        3. Enzo Thivolle (Valence)
      %p
        3. Lucca Dubret (Annemasse)
      %p
        FS. Brian Lupton (Annemasse)
      %ul
        %li= link_to "Pools", image_path("results2015/Juniors2_pools_2015.pdf")
        %li= link_to "Competition tree", image_path("results2015/Juniors_2_2015.pdf")
      <iframe src="https://www.youtube.com/embed/_cJXMFKPvWs" frameborder="0" allowfullscreen></iframe>
  .row
    .panel.panel-info
      .panel-heading
        =raw t("cups.show.other_links")
      %ul.list-group
        %li.list-group-item
          = link_to "Stéphane Cazalet (Scaz) Kasahara Cup 2015 Flickr album", "https://www.flickr.com/photos/scazalet/albums/72157658770273888"
.col-xs-12.col-md-4

  - if @headline.present?
    .panel.panel-default.headlines
      .panel-heading
        %h2= t 'headlines.title'
      .panel-body
        %h4
          = @headline.title
          %small
            = @headline.created_at.to_s :day_month_year
        =raw @headline.content
      .panel-footer
        = link_to t('headlines.link'), cup_headlines_path(@cup)


  = form_tag "http://kendo-geneve.us6.list-manage.com/subscribe/post", class: "form" do
    = hidden_field_tag :u, "5545e540aff9e8b07df2f5531"
    = hidden_field_tag :id, "4b7d62b6b3"
    .panel.panel-default.contact
      .panel-heading
        %h3
          = label_tag 'EMAIL', "Newsletter"
      .panel-body.form-inline
        .form-group
          = email_field_tag 'EMAIL', nil, required: true, placeholder: t('cups.show.newsletter.email'), class: "form-control"
          = button_tag t('cups.show.newsletter.button'), class: "btn btn-info"
        %p.help-block= t('cups.show.newsletter.register')

  %h3= t 'cups.show.social.title'

  %p
    = link_to "#{icon('fab', 'twitter')} | twitter".html_safe, "https://twitter.com/kendo_in_geneva", id: 'twitter_icon', class: "btn btn-twitter"
    - if I18n.locale == :fr
      = link_to 'Tweet', "https://twitter.com/share", class: "twitter-share-button", data: {url: "http://kasaharacup.com", text: "Cette année, je vais à la coupe Kasahara!", via: "kendo_in_geneva", lang: 'fr', related: "kendo_in_geneva", hashtags: "kasa2015"}
    - else
      = link_to 'Tweet', "https://twitter.com/share", class: "twitter-share-button", data: {url: "http://kasaharacup.com", text: "Checkout the kasaharacup.com webpage!", via: "kendo_in_geneva", related: "kendo_in_geneva", hashtags: "kasa2015"}
    :javascript
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}
      }(document, 'script', 'twitter-wjs');


  %p
    %script{src: "https://apis.google.com/js/platform.js"}
    .g-ytsubscribe{data: {channel: "KendoGeneva", layout: "default", count: "default"}}
