<%= render(BannerComponent.new) do %>
  <% if Time.current > @cup.deadline %>
    <%= raw t(".deadline_passed", deadline: I18n.l(@cup.deadline, format: :long)) %>
  <% elsif @cup.not_yet_registerable? %>
    <%= raw t(".registrations_opening_soon", deadline: I18n.l(@cup.deadline, format: :long)) %>
  <% elsif @cup.registerable? %>
    <%= raw t(".deadline", deadline: I18n.l(@cup.deadline, format: :long)) %>
  <% end %>
<% end %>
<div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
  <%= render(HeroComponent.new(cup: @cup, current_user: current_user)) %>
  <div class="lg:grid lg:grid-cols-3 lg:gap-12">
    <div class="mt-6 prose prose-red-900 prose-lg text-gray-500 lg:col-span-2" id="program">
      <% if @headlines.any? %>
        <div class="mt-4">
          <%= render "headline", headline: @headlines.first %>
        </div>
      <% end %>
      <h2 class="mt-10">
        <%= t '.program.title' %>
      </h2>
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <% @grouped_events.each do |date, events| %>
          <div class="lg:col-1">
            <h3 class="mt-0">
              <%= l date, format: :short %>
            </h3>
            <table class="table">
              <tbody>
                <% for event in events %>
                  <tr>
                    <th>
                      <%= event.start_on.to_formatted_s(:time_only) %>
                    </th>
                    <td>
                      <%= event.name %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mt-10">
      <%= render "current_user_resume" %>
    </div>
  </div>
  <div class="lg:grid lg:grid-cols-2 lg:gap-12">
    <div id="categories" class="prose prose-red-900 prose-lg">
      <h2 class="mt-10">
        <%= t '.categories.title' %>
      </h2>
      <table class="table">
        <tbody>
          <% @cup.individual_categories.each do |c| %>
            <tr>
              <th>
                <%= c.name.capitalize %>
              </th>
              <td>
                <% if c.description.present? %>
                  <%= c.description %>
                <% elsif c.min_age %>
                  <%= c.max_age ? t("categories.from") : t("categories.from") %>
                  <%= c.min_age %>
                  <%= t("categories.yo") %>
                <% elsif c.max_age %>
                  <%= t("categories.to") %>
                  <%= c.max_age %>
                  <%= t("categories.yo") %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% @cup.team_categories.each do |c| %>
            <tr>
              <th>
                <%= c.name.capitalize %>
              </th>
              <td>
                <%= "#{c.description}," %>
                <% if c.min_age %>
                  <%= c.max_age ? t("categories.from") : t("categories.from") %>
                  <%= c.min_age %>
                <% end %>
                <% if c.max_age %>
                  <%= t("categories.to") %>
                  <%= c.max_age %>
                <% end %>
                <%= t("categories.yo") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="fees" class="prose prose-red-900 prose-lg">
      <h2 class="mt-10">
        <%= t '.fees.title' %>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th>
              <%= raw t(".fees.adults.title", year: @cup.year - 17) %>
            </th>
            <td>
              <%= raw t '.fees.adults.fee', adult_fees_chf: @cup.adult_fees_chf, adult_fees_eur: @cup.adult_fees_eur %>
            </td>
          </tr>
          <tr>
            <th>
              <%= raw t(".fees.juniors.title", year: @cup.year - 16) %>
            </th>
            <td>
              <%= raw t '.fees.juniors.fee', junior_fees_chf: @cup.junior_fees_chf, junior_fees_eur: @cup.junior_fees_eur %>
            </td>
          </tr>
          <% @cup.products.each do |product| %>
            <tr>
              <th>
                <%= product.name %>
                <% if !product_available?(product) %>
                  <br>
                  <mark>(not available anymore)</mark>
                </br>
              <% end %>
            </th>
            <td>
              <% if product.fee_chf == 0 %>
                <%= t '.fees.variable' %>
              <% else %>
                <%= "#{product.fee_chf} CHF / #{product.fee_eu} " %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="venue" class="prose prose-red-900 prose-lg">
  <h2 class="mt-10">
    <%= t '.venue.title' %>
  </h2>
  <p>
    <%= raw t '.venue.a', stade_du_bout_du_monde: link_to('Centre sportif du Bout-du-Monde', 'http://www.ville-geneve.ch/plan-ville/sports/centre-sportif-bout-monde/') %>
  </p>
  <h3>
    <%= t '.venue.address' %>
  </h3>
  <p>
    Centre sportif du Bout-du-Monde, Hall A
    <br/>
    Route de Vessy 12
    <br/>
    1206 Geneve
    <br/>
    <em>GPS: 46.180588,6.155893</em>
    <br>
    <%= link_to "Google map to the competition hall", "https://maps.google.ch/maps?hl=fr&ie=UTF8&q=centre+sportif+du+bout+du+monde&fb=1&gl=ch&hq=centre+sportif+du+bout+du+monde&cid=0,0,2906637816380334854&t=m&ll=46.182846,6.156163&spn=0.007131,0.013733&z=16", id: 'google_map' %>
  </p>
</div>
<div id="accomodation" class="prose prose-red-900 prose-lg">
  <h2 class="mt-10">
    <%= t '.accomodation.title' %>
  </h2>
  <p>
    <%= raw t '.accomodation.dormitory' %>
  </p>
  <p>
    <%= raw t '.accomodation.hotels' %>
  </p>
</div>
