<%= render(BannerComponent.new) do %>
  <%= raw t("cups.show.over") %>
<% end %>
<div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
  <%= render(HeroComponent.new(cup: @cup)) %>
  <h2 class="text-gray-900 text-3xl font-extrabold tracking-tight mt-8">
    <%= t "cups.show.results.title" %>
  </h2>
  <% if @cup.team_categories.any? %>
    <h3 class="text-2xl font-bold mt-10"><%= t("activerecord.models.team_category.one") %></h3>
    <% @cup.team_categories.find_each do |team_category| %>
      <%= render(Results::TeamCategoryComponent.new(team_category: team_category)) %>
    <% end %>
  <% end %>
  <% if @cup.individual_categories.any? %>
    <h3 class="text-2xl font-bold mt-10"><%= t("activerecord.models.individual_category.other") %></h3>
    <% @cup.individual_categories.find_each do |individual_category| %>
      <%= render(Results::IndividualCategoryComponent.new(individual_category: individual_category)) %>
    <% end %>
  <% end %>
</div>
