<%= form_with model: [@user, @kenshi], url: polymorphic_path([@cup, @user, @kenshi]), html: { class: "kasa-form" } do |f| %>
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div class="text-base max-w-prose">
      <div>
        <h2 class="text-base text-red-600 font-semibold tracking-wide uppercase"><%= "#{t("layout.header.title")} #{@current_cup.year}" %></h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"><%= form_title %></h3>
      </div>
    </div>
    <%= render 'layouts/error_messages', target: f.object %>
    <div style="border: 0">
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="input-group">
          <%= f.label :female, Kenshi.human_attribute_name(:salutations), class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
          <div class="input-field">
            <%= f.select :female, [[Kenshi.human_attribute_name(:ms), true], [Kenshi.human_attribute_name(:mr), false]], prompt: true %>
          </div>
        </div>
        <div class="input-group">
          <%= f.label :first_name, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
          <div class="input-field">
            <%= f.text_field :first_name, autocomplete: "given-name" %>
          </div>
        </div>
        <div class="input-group">
          <%= f.label :last_name, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
          <div class="input-field">
            <%= f.text_field :last_name, autocomplete: "family-name" %>
          </div>
        </div>
        <div class="input-group">
          <%= f.label :dob, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
          <div class="input-field">
            <%= f.date_field :dob %>
          </div>
        </div>
        <div class="input-group">
          <%= f.label :club_name, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
          <div class="input-field">
            <%=
              f.select :club_name,
                Club.order(:name).pluck(:name),
                {},
                class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm",
                data: { controller: "select2-single-tag",
                locale: I18n.locale },
                style: "width: 20em;"
            %>
          </div>
        </div>
        <div class="input-group">
          <%= f.label :grade, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
          <div class="input-field">
            <%= f.select :grade, Kenshi::GRADES %>
            <p class="helper-text text-sm mt-2">
              <%= t("cups.show.shinpans.info") %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="pt-6 sm:pt-5">
          <div role="group" aria-labelledby="label-email">
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
                  Team
                </div>
              </div>
              <% @cup.team_categories.all.each do |c| %>
                <% participation = f.object.participations.detect { |p| p.category == c }.presence || Participation.new(category: c) %>
                <%= f.fields_for :participations, participation do |g| %>
                  <% if participation.persisted? %>
                    <%= g.hidden_field :id %>
                  <% end %>
                  <%= g.hidden_field :category_type %>
                  <%= g.hidden_field :category_id %>
                  <div class="mt-4 sm:mt-0 sm:col-span-2">
                    <div class="max-w-lg space-y-4">
                      <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                          <%= g.check_box :ronin, class: "focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded" %>
                        </div>
                        <div class="ml-3 text-sm">
                          <%= g.label :ronin, class: "font-medium text-gray-700" %>
                          <p class="helper-text">
                            <%= t '.ronin_info', category_name: c.name %>
                          </p>
                        </div>
                      </div>
                      <div>
                        <div class="relative">
                          <div class="mb-3 text-sm">
                            <%= g.label :team_name, class: "font-medium text-gray-700" %>
                            <p class="helper-text">
                              <%= t(".team_info") %>
                            </p>
                          </div>
                          <div class="">
                            <%=
                              f.select :team_name,
                                c.teams.order(:name).pluck(:name),
                                {},
                                class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm",
                                data: { controller: "select2-single-tag", locale: I18n.locale },
                                style: "width: 20em;"
                            %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @cup.individual_categories.present? %>
      <div>
        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
          <div class="pt-6 sm:pt-5">
            <div role="group" aria-labelledby="label-email">
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
                    <%= t("kenshis.form.individual_categories") %>
                  </div>
                </div>
                <div class="mt-4 sm:mt-0 sm:col-span-2">
                  <% @cup.individual_categories.all.each do |individual_category| %>
                    <div class="max-w-lg space-y-4">
                      <div class="relative flex items-start mb-4">
                        <% participation = @kenshi.participations.to_a.find { |p| p.category ==  individual_category } %>
                        <% if participation.present? %>
                          <%= f.fields_for :participations, participation do |g| %>
                            <% if participation.persisted? %>
                              <%= g.hidden_field :id %>
                            <% end %>
                            <%= g.hidden_field :category_type %>
                            <%= g.hidden_field :category_id %>
                            <div class="flex items-center h-5">
                              <%=
                                g.check_box :_destroy,
                                {
                                  checked: true,
                                  class: "focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded"
                                },
                                0, # checked_value
                                1 # unchecked_value
                              %>
                            </div>
                            <div class="ml-3 text-sm">
                              <%= g.label :_destroy, individual_category.name, class: "font-medium text-gray-700" %>
                              <p class="helper-text">
                                <%= individual_category.description %>
                              </p>
                            </div>
                          <% end %>
                        <% else %>
                          <% participation = @kenshi.participations.new(category: individual_category) %>
                          <%= f.fields_for :participations, participation do |g| %>
                            <%= g.hidden_field :category_type %>
                            <div class="flex items-center h-5">
                              <%= check_box_tag "#{g.object_name}[category_id]", individual_category.id, nil, class: "focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded" %>
                            </div>
                            <div class="ml-3 text-sm">
                              <%= g.label :category_id, individual_category.name, class: "font-medium text-gray-700" %>
                              <p class="helper-text">
                                <%= individual_category.description %>
                              </p>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @cup.products.present? %>
      <div>
        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
          <div class="pt-6 sm:pt-5">
            <div role="group" aria-labelledby="label-email">
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
                    Extra
                  </div>
                </div>
                <div class="mt-4 sm:mt-0 sm:col-span-2">
                  <% @cup.products.sort_by(&:name).each do |p| %>
                    <% price = p.fee_chf == 0 ? t("cups.show.fees.variable") : "#{p.fee_chf} CHF/#{p.fee_eu} €" %>
                    <div class="max-w-lg space-y-4">
                      <div class="relative flex items-start mb-4">
                        <% purchase = @kenshi.purchases.to_a.find { |purch| purch .product_id ==  p.id } %>
                        <% if purchase.present? %>
                          <%= f.fields_for :purchases, purchase do |g| %>
                            <div class="flex items-center h-5">
                              <%=
                                g.check_box :_destroy,
                                {
                                  checked: true,
                                  class: "focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded"
                                },
                                0, # checked_value
                                1 # unchecked_value
                              %>
                            </div>
                            <div class="ml-3 text-sm">
                              <%= g.label :product_id, "#{p.name} (#{price})", class: "font-medium text-gray-700" %>
                              <p class="helper-text">
                                <%= p.description %>
                              </p>
                            </div>
                          <% end %>
                        <% else %>
                          <% if product_available?(p) %>
                            <% purchase = @kenshi.purchases.new(product: p) %>
                            <%= f.fields_for :purchases, purchase do |g| %>
                              <div class="flex items-center h-5">
                                <%= check_box_tag "#{g.object_name}[product_id]", p.id, nil, class: "focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded" %>
                              </div>
                              <div class="ml-3 text-sm">
                                <%= g.label :product_id, "#{p.name} (#{price})", class: "font-medium text-gray-700" %>
                                <p class="helper-text">
                                  <%= p.description %>
                                </p>
                              </div>
                            <% end %>
                          <% else %>
                            <p>
                              <%= t('kenshis.form.not_avalaible', product_name: p.name) %>
                            </p>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="py-5">
    <div class="flex justify-end">
      <%= link_to(t("form.cancel"), (session[:return_to].nil? ? root_path : session[:return_to]), accesskey: "ESC",
title: "Cancel #{f.object_name} form", class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500") %>
      <%= f.submit(f.object.new_record? ? t(".button.create") : t(".button.update"), class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500") %>
    </div>
  </div>
<% end %>
