= form_for [@user, @kenshi], url: polymorphic_path([@user, @kenshi]), remote: (request.format == 'text/javascript'), html: {role: 'form', class: "form-horizontal"} do |f|
  = render "layouts/error_messages", target: f.object
  = mandatory_fields
  .form-group
    .checkbox.col-sm-10.col-sm-offset-2
      =raw f.label :female, t('activerecord.attributes.kenshi.female')
      = f.radio_button :female, true, checked: @kenshi.female
      = f.label :female, t('activerecord.attributes.kenshi.male')
      = f.radio_button :female, false, checked: !@kenshi.female
  .form-group
    =raw f.label :first_name, t('activerecord.attributes.kenshi.first_name'), class: "col-sm-2"
    .col-sm-10
      = f.text_field :first_name, class: "form-control"
  .form-group
    = f.label :last_name, t('activerecord.attributes.kenshi.last_name'), class: "col-sm-2"
    .col-sm-10
      = f.text_field :last_name, class: "form-control"
  .form-group
    = f.label :dob, t('activerecord.attributes.kenshi.dob'), class: "col-sm-2"
    .col-sm-10
      = f.text_field :dob, {type: 'my_date', placeholder: t('layout.form.date_placeholder')}
  .form-group
    = f.label :email, class: "col-sm-2"
    .col-sm-10
      = f.text_field :email, class: "form-control"
  .form-group
    = label_tag :club_name, nil, class: "col-sm-2"
    .col-sm-10
      = hidden_field_tag "#{f.object_name}[club_name]", f.object.club.try(:name), class: "select2 form-control", data: {options: Club.all.map{|c| {id: c.name, text: c.name}}}
  .form-group
    = f.label :grade, class: "col-sm-2"
    .col-sm-10
      = f.select :grade, options_for_select(Kenshi::GRADES, f.object.grade), {}, class: "form-control"
  %fieldset
    %legend Categories
    - @cup.team_categories.all.each do |c|
      - participation = f.object.participations.detect{|p| p.category == c}
      - if participation.blank?
        - p = Participation.new(category: c); pid = p.object_id
      - else
        - p = participation; pid = p.id
      = f.fields_for :participations, p do |g|
        .form-group
          %h4= g.label :team_name, c.name, class: "col-sm-2"
          .col-sm-10
            - if p.persisted?
              = g.hidden_field :id
            = g.hidden_field :category_type
            = g.hidden_field :category_id
            .col-sm-12
              = g.label :ronin
              = g.check_box :ronin
              %p.help-block= t '.ronin_info', category_name: c.name
            .col-sm-12
              = hidden_field_tag "#{g.object_name}[team_name]", p.team.try(:name), class: "select2 col-sm-12", data: {options: c.teams.all.map{|c| {id: c.name, text: c.name}}}
              %br/
              %p.help-block= t '.team_info'
    - if @cup.individual_categories.present?
      %h4 individual categories
    - @cup.individual_categories.all.each do |c|
      .form-group
        .col-sm-10.col-sm-offset-2
          - if @kenshi.takes_part_to?(c)
            - p = @kenshi.participations.detect{|p| p.category == c}
            = f.fields_for :participations, p do |g|
              = g.label :_destroy, c.name
              = g.hidden_field :id
              = hidden_field_tag "#{g.object_name}[_destroy]", 1
              = check_box_tag "#{g.object_name}[_destroy]", 0, true
          - else
            = label_tag "kenshi_individual_categories_#{c.id}", c.name
            = check_box_tag "kenshi[individual_category_ids][]", c.id, false, id: "kenshi_individual_categories_#{c.id}"

  .actions
    = submit_or_cancel_form(f, f.object.new_record? ? t(".button.create") : t(".button.update"))
    %p.help-block= t '.button_info', deadline: l(@cup.deadline, format: :long)
