%div[kenshi]
  %h3
    = "#{kenshi_counter+1})" if kenshi_counter
    = kenshi.full_name
    - if current_user_admin_or_owner?(kenshi)
      =raw kenshi_admin_links(kenshi, options: {class: "pull-right"})
  %table.table.table-condensed
    %tr
    - if current_user_admin_or_owner?(kenshi)
      %tr
        %th{colspan: 2}= Kendocup::Kenshi.human_attribute_name :email
        %td{colspan: 2}= kenshi.email.presence || "–"
      %tr
        %th{colspan: 2}= Kendocup::Kenshi.human_attribute_name :dob
        %td{colspan: 2}= kenshi.dob
    %tr
      %th{colspan: 2}= Kendocup::Kenshi.human_attribute_name :sex
      %td{colspan: 2}= kenshi.female ? 'female' : 'male'
    %tr
      %th{colspan: 2}= Kendocup::Kenshi.human_attribute_name :club
      %td{colspan: 2}= kenshi.club
    %tr
      %th{colspan: 2}= Kendocup::Kenshi.human_attribute_name :grade
      %td{colspan: 2}= kenshi.grade
    - if current_user_admin_or_owner?(kenshi)
      %tr
        %th{colspan: 2}= t("kenshi.registered_by")
        %td{colspan: 2}= kenshi.user.full_name
    - if kenshi.participations.present?
      %tr
        %th{colspan: 3}
          %h4 Categories
      - kenshi.participations.each do |participation|
        %tr
          %th{colspan: 2}
            = participation.category.name.capitalize
          %td
            = participation.team.try(:name)
          %td
            = participation_admin_links participation
      %tr
        %th{colspan: 2} Total competition fees
        %td= "#{kenshi.competition_fee(:chf)} CHF / #{kenshi.competition_fee(:eur)} €"
        %td
    - if kenshi.purchases.present?
      %tr
        %th{colspan: 4}
          %h4 Extra
      - kenshi.purchases.each do |purchase|
        %tr
          %th{colspan: 2}= purchase.product.name
          %td= "#{purchase.product.fee_chf} CHF / #{purchase.product.fee_eu} €"
          %td= purchase_admin_links purchase
      %tr
        %th{colspan: 2} Total extra fees
        %td= "#{kenshi.products_fee(:chf)} CHF / #{kenshi.products_fee(:eur)} €"
        %td
    %tr
      %th{colspan: 2}
        %h4 Total fees
      %th
        = "#{kenshi.fees(:chf)} CHF / #{kenshi.fees(:eur)} €"
      %th
