%thead
  %tr
    %th Title
    %th= Kenshi.human_attribute_name :name
    - if user_signed_in?
      %th= Kenshi.human_attribute_name :email
      %th= Kenshi.human_attribute_name :dob
    %th= Kenshi.human_attribute_name :club
    %th= Kenshi.human_attribute_name :grade
    %th= Kenshi.human_attribute_name :categories
    - if user_signed_in?
      %th= t('kenshi.registered_by')
      %th
