<% title @title %>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>
      <%= @title %>
    </h2>
    <% if @user.attributes == current_user.attributes %>
      <table class="table table-condensed">
        <tr>
          <th>
            <%= User.human_attribute_name :last_name %>
          </th>
          <td>
            <%= @user.last_name %>
          </td>
        </tr>
        <tr>
          <th>
            <%= User.human_attribute_name :first_name %>
          </th>
          <td>
            <%= @user.first_name %>
          </td>
        </tr>
        <tr>
          <th>
            <%= User.human_attribute_name :dob %>
          </th>
          <td>
            <%= @user.dob.to_s %>
          </td>
        </tr>
        <tr>
          <th>
            <%= User.human_attribute_name :gender %>
          </th>
          <td>
            <%= @user.gender %>
          </td>
        </tr>
        <tr>
          <th>
            <%= User.human_attribute_name :email %>
          </th>
          <td>
            <%= @user.email %>
          </td>
        </tr>
        <tr>
          <th>
            <%= User.human_attribute_name :club %>
          </th>
          <td>
            <%= @user.club if @user.club %>
          </td>
          <!-- # %td= mail_to(@user.email, 'Email', encode: 'hex', class: 'email')
          -->
        </tr>
        <tr>
          <th>
            <h4>Fees due</h4>
          </th>
          <th>
            <%= "#{@user.fees(:chf, @current_cup)} CHF / #{@user.fees(:eur, @current_cup)} €" %>
          </th>
        </tr>
      </table>
    <% end %>
    <%= user_admin_links @user %>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <%= t(".your_registrations") %>
          <%= link_to "<span class='glyphicon glyphicon-plus'></span> #{t("kenshis.show.register_someone_else")}".html_safe, new_cup_user_kenshi_path(@current_cup, current_user), class: "btn btn-info btn-xs" %>
        </h2>
      </div>
      <div class="panel-body">
        <% if @user.kenshis.for_cup(@current_cup).present? %>
          <%= render partial: "kenshis/kenshi", collection: @user.kenshis.for_cup(@current_cup) %>
        <% else %>
          <p>
            <%= raw t(".register", yourself: link_to(t(".yourself"), new_cup_user_kenshi_path(@current_cup, current_user, self: true, locale: I18n.locale)), someone: link_to(t(".someone"), new_cup_user_kenshi_path(@current_cup, current_user, locale: I18n.locale))) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
