- title @title
.row[@user]
  .col-xs-12.col-md-6
    %h2= @title
    - if @user.attributes == current_user.attributes
      %table.table.table-condensed
        %tr
          %th= Kendocup::User.human_attribute_name :last_name
          %td= @user.last_name
        %tr
          %th= Kendocup::User.human_attribute_name :first_name
          %td= @user.first_name
        %tr
          %th= Kendocup::User.human_attribute_name :dob
          %td= @user.dob.to_s
        %tr
          %th= Kendocup::User.human_attribute_name :gender
          %td= @user.gender
        %tr
          %th= Kendocup::User.human_attribute_name :email
          %td= @user.email
        %tr
          %th= Kendocup::User.human_attribute_name :club
          %td= @user.club if @user.club
          / # %td= mail_to(@user.email, 'Email', encode: 'hex', class: 'email')
        %tr
          %th
            %h4 Fees due
          %th
            = "#{@user.fees(:chf, @current_cup)} CHF / #{@user.fees(:eur, @current_cup)} €"
    = user_admin_links @user

  .col-xs-12.col-md-6
    .panel.panel-default
      .panel-heading
        %h2
          = t(".your_registrations")
          = link_to "<span class='glyphicon glyphicon-plus'></span> #{t("kenshis.show.register_someone_else")}".html_safe, new_cup_user_kenshi_path(@current_cup, current_user), class: "btn btn-info btn-xs"
      .panel-body
        - if @user.kenshis.for_cup(@current_cup).present?
          = render partial: "kenshis/kenshi", collection: @user.kenshis.for_cup(@current_cup)
        - else
          %p
            =raw t(".register", yourself: link_to(t(".yourself"), new_cup_user_kenshi_path(@current_cup, current_user, self: true, locale: I18n.locale)), someone: link_to(t(".someone"), new_cup_user_kenshi_path(@current_cup, current_user, locale: I18n.locale)))

