<% title @title %>
<div class="py-10">
  <header>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between">
      <div>
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          <%= @title %>
        </h1>
        <p>
          <em>
            <%= [@user.email, (l(@user.dob) if @user.dob), @user.club.name].compact.join(" • ") %>
          </em>
        </p>
      </div>
      <%= user_admin_links @user %>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="mt-6 bg-white shadow overflow-hidden sm:rounded-md">
        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
          <h3 class="text-xl leading-6 font-medium text-gray-900 flex justify-between">
            <%= t(".your_registrations", year: @current_cup.year) %>
            <%= link_to(t("kenshis.show.register_someone_else"), new_cup_user_kenshi_path(@current_cup), class: "btn btn-primary") if can?(:register, @current_cup) %>
          </h3>
        </div>
        <ul role="list" class="divide-y divide-gray-200">
          <% if @user.kenshis.for_cup(@current_cup).any? %>
            <%= render @user.kenshis.for_cup(@current_cup) %>
          <% else %>
            <li>
              <div class="px-4 py-4 sm:px-6 prose">
                <%= t(".no_registrations") %>
                <%= raw t(".register", yourself: link_to(t(".yourself"), new_cup_user_kenshi_path(@current_cup, self: true, locale: I18n.locale)), someone: link_to(t(".someone"), new_cup_user_kenshi_path(@current_cup, locale: I18n.locale))) if can?(:register, @current_cup)  %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <% purchases = Purchase.includes(:order, :product).where(kenshi: @user.kenshis.for_cup(@current_cup)) %>
      <% if purchases.any? %>
        <% currency = purchases.first.product.stripe_price.currency.upcase %>
        <div class="flex justify-end px-4 py-4 sm:px-6">
          <table class="text-sm text-gray-500">
            <tbody>
              <tr>
                <td class="py-2">
                  <%= t(".total_paid") %>
                </td>
                <td class="pl-4 text-right">
                  <%= purchases.paid.sum { |purchase| purchase.product.stripe_price.unit_amount/100 } %>
                  <%= currency %>
                </td>
              </tr>
              <tr class="border-t border-gray-300 border-w-2">
                <td class="py-2">
                  <%= t(".total_to_pay") %>
                </td>
                <td class="pl-4 text-right">
                  <%= purchases.unpaid.sum { |purchase| purchase.product.stripe_price.unit_amount/100 } %>
                  <%= currency %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <% if purchases.unpaid.any? %>
          <div class="flex justify-end px-4 py-4 sm:px-6">
            <%= button_to(cup_stripe_checkout_path(@current_cup), class: "btn btn-primary", data: { turbo: false }) do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 pr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
              </svg>
              <%= t(".pay_now", amount: purchases.unpaid.sum { |purchase| purchase.product.stripe_price.unit_amount/100 }, currency: currency) %>
            <% end %>
          <div>
        <% end %>
      <% end %>
    </div>
  </main>
</div>
