- title @title
.row[@user]
  .col-xs-12.col-md-6
    %h2= @title
    - if @user == current_user
      %table.table.table-condensed
        %tr
          %th= User.human_attribute_name :last_name
          %td= @user.last_name
        %tr
          %th= User.human_attribute_name :first_name
          %td= @user.first_name
        %tr
          %th= User.human_attribute_name :dob
          %td= @user.dob.to_s
        %tr
          %th= User.human_attribute_name :gender
          %td= @user.gender
        %tr
          %th= User.human_attribute_name :email
          %td= @user.email
        %tr
          %th= User.human_attribute_name :club
          %td= @user.club if @user.club
          / # %td= mail_to(@user.email, 'Email', encode: 'hex', class: 'email')
        %tr
          %th
            %h4 Fees due
          %th
            = "#{@user.fees(:chf)} CHF / #{@user.fees(:eur)} €"
    = user_admin_links @user

  .col-xs-12.col-md-6
    .panel.panel-default
      .panel-heading
        %h2
          = t(".your_registrations")
          = link_to "<span class='glyphicon glyphicon-plus'></span> #{t("kenshis.show.register_someone_else")}".html_safe, new_user_kenshi_path(current_user), class: "btn btn-info btn-xs"
      .panel-body
        - if @user.kenshis.present?
          = render @user.kenshis
        - else
          %p
            Aucune inscription pour l'instant. Voulez-vous
            = link_to 'vous inscrire', new_user_kenshi_path(current_user, self: true, locale: I18n.locale)
            à la compétion? ou inscrire
            = link_to("quelqu'un d'autre", new_user_kenshi_path(current_user, locale: I18n.locale))+'?'
