<h3 class="text-xl mt-8">
  <%= @individual_category.name.capitalize %>
  <small>(<%= @individual_category.description %>)</small>
</h3>
<ul class="sm:divide-y sm:divide-gray-200">
  <% @ranked_participations.each do |ranked_participation| %>
    <li class="py-4 sm:py-5 sm:px-6 text-sm font-bold text-gray-500">
      <%= ranked_participation.rank %>. <%= ranked_participation.kenshi.full_name %> (<%= ranked_participation.kenshi.club %>)
    </li>
  <% end %>
  <% @fighting_spirit_participations.each do |fighting_spirit_participation| %>
    <li class="py-4 sm:py-5 sm:px-6 text-sm font-medium text-gray-500">
      Fighting Spirit Award: <%= fighting_spirit_participation.kenshi.full_name %> (<%= fighting_spirit_participation.kenshi.club %>)
    </li>
  <% end %>
</ul>
<ul class="prose">
  <% @videos.each do |video| %>
    <li>
      Video:
      <%= link_to video.name, video.url %>
    </li>
  <% end %>
</ul>
<ul class="prose">
  <% @documents.each do |document| %>
    <li>
      Document:
      <%= link_to document.file.filename, document.file.url %>
    </li>
  <% end %>
</ul>
