<div class="relative max-w-7xl mx-auto sm:px-6 lg:px-8 sm:rounded-2xl sm:overflow-hidden">
  <div class="absolute inset-0">
    <%=
      image_tag(
        @cup.header_image.attached? ? @cup.header_image : "2022/hero.jpg",
        class: "h-full w-full object-cover",
        alt: "hero"
      )
    %>
    <div class="absolute inset-0 bg-red-200 mix-blend-multiply"></div>
  </div>
  <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
    <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
      <span class="block text-white"><%= t("layout.header.title") %></span>
      <span class="block text-red-50"><%= @cup.year %></span>
    </h1>
    <p class="mt-6 max-w-lg mx-auto text-center text-xl text-white sm:max-w-3xl">
      <% if @cup.end_on %>
        <%= "#{l(@cup.start_on, format: :day_only)}–#{l(@cup.end_on, format: :long)}," %>
      <% else %>
        <%= "#{l(@cup.start_on, format: :long)}," %>
      <% end %>
      <%= t("layout.header.title_em") %>
    </p>
    <% if @cup.registerable? %>
      <div class="mt-10 max-w-sm mx-auto text-center">
        <%= link_to(
          t("navigation.register.text"),
          new_cup_kenshi_path(@cup),
          title: t("navigation.register.title").html_safe,
          class: "px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-red-700 bg-white hover:bg-red-50"
        ) %>
      </div>
    <% end %>
  </div>
</div>
