%header#header.group
  = link_to "Logo of the Kasahara Cup #{@cup.year}", root_path, :id => 'logo'
  = render "navigation"
  %h1#banner
    = content_tag :a, :href => root_path do
      = t('layout.header.title', year: @cup.year.to_s)
      %em= t 'layout.header.title_em', date: @cup.dates
  = render "sub_navigation"
