/ %nav#sub_navigation.group
/   = t('subnav.see_you')

/   / - if user_signed_in?
/   /   - if Time.now.hour <= 10
/   /     OhayÅ gozaimasu
/   /   - elsif Time.now.hour >= 22
/   /     Konbanwa
/   /   - else
/   /     Konnichiwa
/   /   / = t('subnav.signedin.title')
/   /   %em= current_user.first_name
/   /   / # = link_to current_user.first_name, user_path(current_user, :locale => params[:locale])
/   /   = raw "(#{link_to t('subnav.signedin.your_account'), user_path(current_user, :locale => params[:locale])}, #{link_to t('subnav.signedin.signout'), signout_path})"
/   / - else
/   /   %p=raw "#{link_to t('subnav.register.title'), new_user_registration_path}. #{t('subnav.register.signin.title')} #{link_to t('subnav.register.signin.link'), new_user_session_path}"
