<nav class="bg-red-700" data-controller="navigation">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button"
          data-action="navigation#toggle"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <%= link_to root_path do %>
            <%= image_tag "logo/logo.png", class: "block h-9 w-auto", alt: "logo" %>
          <% end %>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <%= link_to t(".about"), about_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <%=
              link_to(
                t("navigation.kenshis.text", kenshis: @current_cup.kenshis.count),
                cup_kenshis_path(@current_cup),
                class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              )
            %>
            <%=
              link_to(
                t("navigation.teams.text", teams: @current_cup.teams.count),
                cup_teams_path(@current_cup),
                title: t("navigation.teams.title").html_safe,
                class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              )
            %>
            <%=
              render(NavigationDropdownComponent.new(
                name: "archive",
                text: "Archive",
                links: Cup.order(start_on: :desc).map { |cup| {text: cup.year.to_s, url: cup_path(cup.year)}}))
            %>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <%=
          render(NavigationDropdownComponent.new(
            name: "locale",
            text: I18n.locale.to_s.upcase,
            css_class: "hidden lg:block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium",
            links: I18n.available_locales.map { |locale| {text: locale.to_s.upcase, url: {locale: locale}} }))
        %>
        <% if user_signed_in? %>
          <%=
            links = [
              {text: t(".account"), url: cup_user_path(@current_cup, current_user)},
              {text: "Log out", url: log_out_path}
            ]
            links.unshift({text: "Admin", url: "/admin"}) if current_user.admin?
            render(NavigationDropdownComponent.new(
              name: "profile",
              text: current_user.first_name,
              links: links))
          %>
        <% else %>
          <div class="ml-3 relative">
            <%= link_to "Log in", new_user_session_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium h-10" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden"
    id="mobile-menu"
    data-navigation-target="mobileMenu"
    data-transition-enter-active="transition ease-out duration-100"
    data-transition-enter-from="transform opacity-0 scale-95"
    data-transition-enter-to="transform opacity-100 scale-100"
    data-transition-leave-active="transition ease-in duration-75"
    data-transition-leave-from="transform opacity-100 scale-100"
    data-transition-leave-to="transform opacity-0 scale-95"
  >
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <%= link_to t(".about"), about_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
      <%=
        render(NavigationDropdownComponent.new(
          name: "archive",
          text: "Archive",
          css_class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium",
          links: Cup.order(start_on: :desc).map { |cup| {text: cup.year.to_s, url: cup_path(cup.year)}}))
      %>
      <%=
        render(NavigationDropdownComponent.new(
          name: "locale",
          text: I18n.locale.to_s.upcase,
          css_class: "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium",
          links: I18n.available_locales.map { |locale| {text: locale.to_s.upcase, url: {locale: locale}} }))
      %>
    </div>
  </div>
</nav>
